body {
	line-height: 1.5;
}

p {
	color: white;
	text-shadow: 1px 1px 0 black;
}

.btn {
	background-color: #4509ae;
	box-shadow: 4px 4px 0 black;
	border: 2px solid black;
	border-radius: 5px;
	text-shadow: 2px 2px 0 black;
	color: white;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.1s;
	z-index: 1000;
	position: fixed;
	padding: 0 10px;
	bottom: 10px;
	left: 10px;
}

.btn:hover {
	font-size: 25px;
	transform: scale(1.1);
}

.btn:active {
	transform: scale(1.1) translate(3px, 3px);
	box-shadow: 0 0 black;
}

.btn.hidden {
	opacity: 0;
	pointer-events: none;
}
