p {
	margin-bottom: 10px;
}

.book-item {
	width: 572px;
	padding: 15px;
	margin: 25px;
}

.book-item img {
	width: 105px;
	height: 155px;
}

.book-item button {
	margin-top: 5px;
}

footer {
	margin-top: 131px;
}
