p {
	margin-bottom: 10px;
}

.thongtin-khong {
	margin-bottom: 27px;
}

.thongtin-khong-cuoi {
	margin-bottom: 0;
}

.book-item {
	padding: 15px;
	padding-right: 20px;
	margin: 25px;
	gap: 15px;
}

.book-item img {
	width: 105px;
	height: 155px;
}

.book-item button {
	margin-top: 5px;
}

footer {
	margin-top: 131px;
}
