label {
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 0 black;
	margin-left: 5px;
	margin-bottom: 8px;
}

.form {
	background: #4509ae;
	box-shadow: 4px 4px 0 black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 30px;
	padding-bottom: 16px;
	padding-top: 27px;
	margin-top: 12px;
	width: 719px;
}

input,
select {
	width: 99.5%;
	margin: 10px 0;
	margin-bottom: 20px;
}

#suggestions {
	border: 2px solid black;
	box-shadow: 4px 4px 0 black;
	border-radius: 5px;
	max-height: 160px;
	overflow-y: auto;
	background: white;
	position: absolute;
	width: 712px;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease, visibility 0.5s ease;
	font-weight: bold;
}

#suggestions.show {
	opacity: 1;
	visibility: visible;
}

#suggestions div {
	padding: 10px;
	cursor: pointer;
	border-bottom: 2px solid black;
}

#suggestions div:hover {
	background-color: #5d00ff;
	color: white;
	text-shadow: 1px 1px 0 black;
}

#suggestions::-webkit-scrollbar {
	display: none;
}

.suggestion-item {
	padding: 8px;
	cursor: pointer;
}

.suggestion-item:hover {
	background-color: #eee;
}

button {
	padding: 10px 20px;
	background: #4509ae;
	color: white;
	text-shadow: 1px 1px 0 black;
	box-shadow: 4px 4px 0 black;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
	transition: 0.1s;
	font-size: 20px;
	font-weight: bold;
}

button:hover {
	font-size: 23px;
	transform: scale(1.1);
}

button:active {
	transform: scale(1.1) translate(3px, 3px);
	box-shadow: 0 0 black;
}

.flatpickr-calendar {
	top: 168px !important;
	left: 20px !important;
}
