label {
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 0 black;
	margin-left: 5px;
}

#khung {
	width: 350px;
	margin-top: 130px;
}

input {
	width: 100%;
	font-size: 16px;
	margin-bottom: 15px;
	margin-top: 10px;
}

#confirmPassword {
	margin-bottom: 7px;
}

.doimatkhau {
	padding: 10px 20px;
	background: #4509ae;
	color: white;
	text-shadow: 1px 1px 0 black;
	box-shadow: 4px 4px 0 black;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.1s;
	font-size: 20px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 83px;
}
