a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.muc {
	color: #4509ae;
	text-shadow: 1px 1px 0 black;
	text-align: center;
	padding-top: 50px;
}

.sach {
	height: 400px;
	width: 300px;
	box-shadow: 0 0 10px white;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.khung {
	width: 82%;
	height: 400px;
	display: flex;
	background-color: #4509ae;
	border: 2px solid black;
	box-shadow: 4px 4px black;
	border-radius: 5px;
	padding: 20px;
}

.thongtin {
	margin-top: 9px;
}

.form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.nutlog {
	margin-top: 20px;
}

.nutlog .submit {
	display: inline-block;
	background-color: #4509ae;
	color: white;
	padding: 20px;
	width: 180px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 2px 0 black;
	box-shadow: 4px 4px 0 black;
	border: 2px solid black;
	transition: 0.1s;
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.submit:hover {
	font-size: 25px;
	transform: scale(1.1);
}

.submit:active {
	transform: scale(1.1) translate(3px, 3px);
	box-shadow: 0 0 black;
}
