#clearStorageBtn {
	width: 500px;
}

.khung-thongke {
	min-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nut-taidulieu,
.nut-xemdanhgia,
#clearStorageBtn {
	width: 400px;
}
