#clearStorageBtn {
	width: 500px;
}

.khung-thongke {
	min-width: 500px;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 15px;
}

.nut-taidulieu,
.nut-xemdanhgiaquanly,
#clearStorageBtn {
	width: 400px;
}

.form-wrapper {
	margin-top: 100px;
}

.nut {
	margin-bottom: 24px;
}
