p {
	margin-bottom: 10px;
}

.thongtin-khong {
	margin-bottom: 17.5px;
}

.thongtin-khong-cuoi {
	margin-bottom: 0;
}

.book-item {
	padding: 15px;
	padding-right: 20px;
	margin: 50px;
	gap: 15px;
}

.book-item img {
	width: 185px;
	height: 235px;
}

.book-item button {
	margin-top: 2px;
}
