p {
	margin-bottom: 10px;
}

button {
	padding: 5px 10px;
	background-color: #4509ae;
	color: white;
	text-shadow: 1px 1px 0 black;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 4px 4px 0 black;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.1s;
}

button:hover {
	font-size: 23px;
	transform: scale(1.1);
}

button:active {
	transform: scale(1.1) translate(3px, 3px);
	box-shadow: 0 0 black;
}

.book-item {
	width: 650px;
	padding: 15px;
	margin: 50px;
}

.book-item img {
	width: 185px;
	height: 235px;
}

.book-item button {
	margin-top: 2px;
}
